
/* Unersel Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.text-pirmary{
    color:#FD6E0A;
}
.btn-pirmary{
    font-size: 20px;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 16px 32px;
    background-color: #FD6E0A;
    border-radius: 5px;
}
.fa-solid{
    padding-right: 10px;
}

/* Header Section Area */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px;
    padding-top: 30px;
}

.logo{
    color:#181818;
    font-size: 45px;
    font-weight: 800;

}

nav > ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 50px;
}

nav ul li > a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    text-align: center;
}

/* Header Style */

.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    height: 100vh;
}
.banner{
    padding: 30px 50px 0 180px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 499px;
    margin-top: 5px;
    
}
.banner-content{
    margin-top: -60px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
}

.banner-content p{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    padding-right: 200px;
    line-height: 30px;
}
.btn{
    padding-top: 20px;
}

.btn-contact-pirmary{
    font-size: 20px;
    border: 1px solid #FD6E0A;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #fff;
    color: #FD6E0A;
}

/* Main Section Style */
.main{
    max-width: 1140px;
}

/* About Section Style */

.about{
    padding: 100px 0px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 100px 180px;
}
.section-content{
    padding: 0px 150px;
}



.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 15px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.about-title{
    font-size: 20px;
    color: #757575;
    font-weight: 400;
    line-height: 30px;
}
.about-description{
    font-size: 20px;
    color: #474747;
    font-weight: 700;
    line-height: 30px;
}

.content{
    margin: 0 140px;
}

/* What I do Section Style */

.skill-container{
    display: flex;
    margin: 20px 180px 100px 180px;
}
.skills{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-left: 20px;
}
.skills:first-child{
    margin: 0;
}
.skill-title{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0;
}

.skill-description{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}

/* Resume Section Style */

.resume-container{
    margin: 0 180px 0 180px;
    display: flex;
    gap: 50px;
}
.resume-column-title{
    color:#474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.content{
    margin-bottom: 80px;
}

.resume-item-title{
    font-size: 25px;
    color: #474747;
    font-weight: 700;
}
.resume-item-institute{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    padding: 10px 0 15px 0;
}
.resume-item-description{
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    line-height: 28px;
    padding-right: 100px;
}
.resume-item{
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.resume-item:last-child{
    border: none;
}
.btn-resume{
   margin: 0 180px;
   text-align: center;
}

/* Footer Section Style */

#footer{
    display: flex;
    background-color: #FFF8F3;
    margin-top: 80px;
    padding: 90px 180px;
    gap: 60px;
}
.footer-column{
    width: 50%;
}
.footer-item .section-title{
    margin-bottom: 20px;
    text-align: left;
}
.footer-item .section-description{
    text-align: left;
    padding: 0 0 15px 0;
}
.social-link a{
    margin-right: 15px;
    padding: 0;
}

.contact input[type="text"], [type="email"], textarea{
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    background-color: #fff;
    padding: 15px;
    padding-left: 15px;
    border: none;
    width: 100%;
    outline: none;
    font-family: Open Sans;
    border-radius: 5px;
    
}





